body {
  background-image: url('/bg7.png');
}

.hamburger-box {
  height: 16px !important;
  width: 30px !important;
}

.hamburger {
  padding: 0 !important;
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px !important;
  height: 2px !important;
  background-color: #a0aec0;
}

.hamburger--spring .hamburger-inner::before {
  top: 8px;
}

.hamburger--spring .hamburger-inner::after {
  top: 16px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #a0aec0;
}

/* purgecss start ignore */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.1s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 0.05s;
}

.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}
/* purgecss end ignore */

/* https://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;

  /* for set '...' in absolute position */
  position: relative;

  /* use this value to count block height */
  line-height: 1.2em;

  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;

  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;

  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text::before {
  /* points in the end */
  content: '...';

  /* absolute position */
  position: absolute;

  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

.block-with-text::after {
  /* points in the end */
  content: '';

  /* absolute position */
  position: absolute;

  /* set position to right bottom corner of text */
  right: 0;

  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;

  /* bg color = bg color under block */
  background: white;
}

hr {
  border: none;
  color: #22292f;
  letter-spacing: 1em;
  text-align: center;
  margin-bottom: 4rem;
}

hr::before {
  content: "...";
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  @apply py-2 mb-4;
}

.blog p {
  @apply pb-4;
}

.blog a {
  @apply text-orange-500 no-underline;
}

.blog a:hover {
  @apply underline;
}

.ql-editor {
  @apply leading-normal;
}

.blog blockquote {
  @apply border-l-4 border-orange-500 italic my-8 pl-8;
}

@media (min-width: 768px) {
  .blog blockquote {
    @apply pl-12;
  }
}

.quill-code-editor pre {
  margin: 0 0 1.5rem !important;
  min-height:300px;
  min-width: 400px;
  border-radius: 3px;
}

.quill-code-editor .ql-editor {
  padding-right:0;
}

.rotate {

  transform: rotate(45deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(45deg);

  /* Firefox */
  -moz-transform: rotate(45deg);

  /* IE */
  -ms-transform: rotate(45deg);

  /* Opera */
  -o-transform: rotate(45deg);

}

.blog pre {
  background-color: #23241f;
  padding: 1rem;
}

.ql-editor {
  padding: 0 !important;
}

.caption {
  @apply italic opacity-50 text-center mt-2;
}

.youtube {
  @apply mx-auto mb-4;
  max-width: 36rem;
  width: 100%;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.youtube iframe,
.youtube object,
.youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  @apply bg-orange-500;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  @apply bg-orange-500;
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.blog ol {
  list-style: decimal;
}
.blog ul {
  list-style: disc;
}

.blog ol, .blog ul {
  padding: revert;
}

.blog code {
    background-color: #f9f9f9;
    border: 1px solid #d5d5d5;
    color: #df5465;
    padding: 1px;
    border-radius: 3px;
    font-size: 85%;
    padding: 2px 4px;
}

.blog .ql-align-center {
  text-align: center;
}
